html,body {
  padding: 0px;
  margin: 0px;
  
  background: #333;
  
  font-family: Lato, Arial, sans-serif;
  
  color: white;
}

#head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background: #DC1B00;
  
  border: 2px solid #B71600;
  
  padding: 8px;
}

#head h1 {
  margin: 0;
  padding: 0;
}

#head img {
  width: 32px;
}

#head a {
  color: white;
  text-decoration: none;
}

#head a:hover {
  color: white;
  text-decoration: underline;
}
